<h4>There seems to be something wrong with your schema</h4>
<div class="image-wrapper">
  <code>Insert sad dinosaur image here</code>
</div>
{{#each model.warnings as |warning|}}
  {{frost-bunsen-error data=warning warning=true}}
{{/each}}
{{#each model.errors as |error|}}
  {{frost-bunsen-error data=error}}
{{/each}}
