# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings/*
coverage.json
npm-debug.log*
package-lock.json
testem.log
.idea
ge.json
.DS_Store
jsconfig.json
