<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>frost-bunsen-detail</h1>
    <p>Component for rendering details</p>
  </div>
  <div class="demo-showcase">
    {{frost-demo-editor path='detail'}}
    <div class="demo-view">
      <br/>
      {{frost-bunsen-detail
        model=formModel
        value=formValue
      }}
    </div>
  </div>
</div>
