<div>
  <h3 class=demo-heading">{{renderLabel}}</h3>
</div>
<div>
  {{frost-text
    hook=(concat bunsenId '.name-renderer')
    change=(action 'handleChange')
    disabled=disabled
    placeholder='John Doe'
    value=(readonly renderValue)
  }}
</div>
