<div>
  <h3 class=demo-heading">{{renderLabel}}</h3>
</div>
<div>
  {{frost-text
    change=(action "onChange")
    disabled=disabled
    placeholder="John Doe"
    value=(readonly renderValue)
  }}
</div>
