{
  "globals": {
    "andThen": false,
    "click": false,
    "currentPath": false,
    "currentRouteName": false,
    "currentURL": false,
    "find": false,
    "fillIn": false,
    "keyEvent": false,
    "mocha": false,
    "server": false,
    "triggerEvent": false,
    "visit": false,
    "waitForPromise": false
  }
}
