<div class='demo-container'>
  <br/>
  {{#frost-link
    "demo.detail"
    priority="secondary"
    size="medium"
  }}
    frost-bunsen-detail
  {{/frost-link}}

  {{#frost-link
    "demo.form"
    priority="secondary"
    size="medium"
  }}
    frost-bunsen-form
  {{/frost-link}}
</div>
