$frost-row-field-padding: 40px;
$frost-bunsen-left-label-width: 140px;
$frost-bunsen-left-input-width: 250px;

.frost-bunsen-array-container {
  flex-basis: 100%;
}

.frost-bunsen-cell {
  position: relative;
  flex: 1 1 auto;
}

.frost-bunsen-compact {
  .frost-bunsen-body {
    display: flex;
    flex-wrap: wrap;
  }

  .frost-bunsen-cell {
    display: inline-flex;
    flex: 0 1 auto;
  }

  .frost-bunsen-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .frost-bunsen-item-input {
      padding: 0 10px;

      &:first-child {
        padding-top: 10px;
      }
    }

    .frost-field {
      margin-bottom: 0;
    }

    .frost-bunsen-remove-btn-container {
      margin-left: auto;
      padding-right: 10px;
      float: none;
    }
  }

  .frost-field {
    flex-direction: column;
    align-items: flex-start;

    .frost-bunsen-left-label {
      margin-bottom: 5px;
      text-align: left;
    }
  }
}

.frost-bunsen-description-bubble {
  display: flex;
  align-items: center;
  width: 24px;
  margin-left: 4px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.frost-bunsen-detail,
.frost-bunsen-form {
  .frost-bunsen-alert-danger {
    color: $frost-color-danger;
  }

  .frost-bunsen-alert-warning {
    color: $frost-color-neutral;
  }

  .frost-bunsen-cell {
    &.one-fourth {
      width: 25%;
    }

    &.one-half {
      flex-basis: 50%;
    }

    &.one-third {
      flex-basis: percentage(1 / 3);
    }

    &.three-fourths {
      flex-basis: 75%;
    }

    &.two-thirds {
      flex-basis: percentage(2 / 3);
    }
  }

  .frost-bunsen-handle {
    width: 32px;
    height: 32px;
  }

  .frost-bunsen-description {
    margin-bottom: 10px;
    color: $frost-color-grey-3;
    font-size: $frost-font-s;
  }

  .image-wrapper {
    padding: 15px;
  }

  .frost-bunsen-item-wrapper > div > div > .frost-bunsen-section {
    border-top-width: 0;
  }

  .header + .frost-bunsen-item-wrapper {
    margin-top: 20px;
  }

  .frost-bunsen-item-wrapper + .frost-bunsen-item-wrapper {
    border-top-width: 0;
  }

  .frost-bunsen-required {
    border-radius: 4px;
  }

  .button-bar {
    button {
      margin-left: 5px;
    }
  }

  .frost-textarea {
    textarea {
      width: 100%;
    }
  }

  .frost-tabs {
    margin-bottom: 15px;

    > .content {
      margin-top: 15px;

      > .frost-bunsen-cell > .frost-bunsen-section {
        margin-left: 0;
      }
    }

    .tab-nav {
      .tab {
        height: 40px;
        padding: 0 25px;
        cursor: pointer;

        &.active {
          border-bottom: 3px solid $frost-color-grey-4;
        }

        &:hover {
          .text {
            color: $frost-color-grey-3;
          }
        }
      }
    }
  }
}

.frost-bunsen-detail {
  .frost-bunsen-section {
    margin-left: 110px;
  }

  // Remove the add/remove buttons when in read-only (Detail) components
  .frost-bunsen-section > .frost-button {
    display: none;
  }

  .frost-field {
    max-width: none;

    .frost-bunsen-left-input {
      width: auto;
      color: $frost-color-grey-2;
      font-size: $frost-font-m;

      p {
        margin: 0;
      }
    }
  }

  .frost-bunsen-item-wrapper {
    > div > div > .frost-bunsen-section {
      border: 0;
    }
  }

  .frost-bunsen-remove-btn-container {
    display: none;
  }

  .frost-bunsen-required {
    display: none;
  }
}

.frost-bunsen-form {
  .frost-bunsen-compact {
    .frost-bunsen-cell {
      flex-wrap: wrap;
    }
  }

  .frost-bunsen-item-wrapper {
    flex-basis: 100%;
    border: 1px solid $frost-color-lgrey-1;
  }

  .frost-bunsen-remove-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}

.frost-bunsen-icon-faded {
  opacity: .3;
}

.frost-bunsen-input-button-group {
  .frost-button {
    border-radius: 0;

    &:not(:first-child) {
      border-left-width: 0;
    }

    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.frost-bunsen-input-checkbox-array-checkbox-container {
  display: flex;
  flex-direction: column;
}

.frost-bunsen-input-geolocation {
  .frost-bunsen-input-geolocation-action-bar {
    margin: 0 0 10px $frost-bunsen-left-label-width;

    .frost-loading {
      display: inline-block;
    }

    .frost-button {
      &:last-child {
        transform: rotate(180deg);
      }
    }
  }

  > .frost-button {
    margin: 0 0 10px $frost-bunsen-left-label-width;
  }

  > .frost-bunsen-error {
    margin-bottom: 10px;
  }

  > .frost-loading {
    svg {
      width: 30px;
      height: 30px;
      margin: 0 0 6px 6px;
    }
  }
}

.frost-bunsen-input-password {
  > .frost-bunsen-input-static {
    flex-basis: auto;
    padding-bottom: 0;
  }

  > .frost-bunsen-left-input {
    display: flex;
    align-items: center;
  }
}

.frost-bunsen-input-password-reveal {
  margin-left: 10px;
}

.frost-bunsen-input-password-text {
  line-height: 24px;
}

.frost-bunsen-item-input {
  // flex: 1 0 auto;

  & + .frost-bunsen-remove-btn-container {
    flex: 0 1 auto;
  }
}

.frost-bunsen-section {
  padding-top: 30px;
  border-top: 1px solid $frost-color-lgrey-1;

  &.frost-bunsen-collapsed {
    .frost-icon {
      transform: rotate(-90deg);
    }
  }

  &:not(.frost-bunsen-collapsed) > .frost-bunsen-heading {
    margin-bottom: 0;
    font-weight: normal;
  }

  > .frost-bunsen-body {
    flex-basis: 100%;
  }

  > .frost-bunsen-empty-msg {
    flex-basis: 100%;
    margin: 0 0 0 28px;
  }

  .frost-bunsen-section {
    border-top-width: 1px;
  }

  > .frost-button {
    margin-top: 20px;
  }

  > .frost-bunsen-heading {
    button {
      &:nth-child(1) {
        width: 16px;
        padding: 0;
        float: left;
        border: 0;
        background: transparent;
      }
    }

    h3 {
      margin: 0 0 0 28px;
      color: $frost-color-grey-1;
      font-size: $frost-font-l;
      font-weight: normal;
    }

    .frost-icon {
      width: 16px;
      height: 16px;
    }

    .frost-bunsen-required {
      margin: 0 0 0 28px;
      color: $frost-color-grey-6;
      font-size: $frost-font-s;
    }
  }
}

.frost-field {
  display: flex;
  position: relative;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-items: center;
  max-width: $frost-bunsen-left-label-width + $frost-bunsen-left-input-width;
  padding-bottom: 10px;

  .error,
  .frost-bunsen-error {
    color: $frost-color-danger;
    font-size: $frost-font-xs;
  }

  > .frost-bunsen-error {
    margin-left: $frost-bunsen-left-label-width;
  }

  .break {
    height: 10px;
  }

  .frost-bunsen-left-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $frost-bunsen-left-label-width;
    padding-right: 15px;
    color: $frost-color-grey-3;
    font-size: $frost-font-s;
    text-align: right;

    .frost-bunsen-required {
      color: $frost-color-grey-6;
      font-size: $frost-font-xs;
    }
  }

  .frost-bunsen-left-input {
    display: flex;
    align-items: center;
    width: $frost-bunsen-left-input-width;
  }

  .frost-bunsen-left-input + .frost-bunsen-error {
    padding-top: 3px;
  }
}

.frost-icon-frost-bunsen-location {
  width: 20px;
  height: 20px;
}

.frost-bunsen-toggle-handle {
  line-height: 1px; // Prevent toggle handle from being taller than icon
}

.no-left-margin {
  margin-left: 0;
}

.frost-bunsen-description {
  display: none;
}

// First section in form
form > div > .frost-bunsen-section {
  padding-top: 0;
  border-top: 0;
}

.frost-bunsen-input-when {
  .frost-radio-button {
    label {
      display: flex;
      align-items: center;
    }
  }
}
