.frost-list-item {
  p {
    margin: 0;
  }

  .bold {
    font-weight: bold;
  }

  .frost-bunsen-cell {
    &.frost-bunsen-description {
      display: block;
    }
  }

  .frost-bunsen-description-bubble {
    display: none;
  }

  .frost-bunsen-detail {
    width: calc(100% - 40px); // 40px is width of checkbox
  }

  // Row
  .frost-bunsen-detail > .frost-bunsen-cell {
    display: flex;

    // Columns
    > .frost-bunsen-cell {
      // Last column
      &:last-child {
        padding-right: 10px;

        .frost-bunsen-cell,
        .frost-field,
        .frost-bunsen-item-input,
        .frost-bunsen-item-wrapper {
          display: flex;
          justify-content: flex-end;
          width: 100%;
        }
      }
    }

    .frost-bunsen-cell {
      &.small {
        .ob-input {
          color: $frost-color-grey-4;
          font-size: $frost-font-xs;
        }
      }
    }
  }

  .frost-field {
    display: flex;
    flex-direction: row;
    max-width: none;
  }

  .ob-label {
    display: flex;
    align-items: baseline;
    margin-right: 12px;
    white-space: nowrap;

    &.hide-label {
      display: none;
    }

    &:after {
      content: ':';
    }
  }
}
