.frost-object-browser-facets {
  .frost-bunsen-body,
  .frost-bunsen-heading,
  .frost-bunsen-section {
    display: flex;
    flex-basis: 100%;
  }

  .frost-bunsen-section {
    flex-wrap: wrap;
  }

  .frost-bunsen-form {
    .frost-bunsen-collapsed {
      > .frost-bunsen-body {
        display: none;
      }
    }

    .frost-bunsen-section {
      padding-top: 0;
      border-top: 0;
    }

    .frost-field {
      > div {
        display: block;
      }
    }

    .frost-bunsen-heading {
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 0;
      text-align: left;

      h3 {
        margin-left: 0;
        color: $frost-color-night-1;
        font-size: 14px;
        font-weight: bold;
      }

      .frost-bunsen-toggle-handle + h3 {
        margin-left: 10px;
      }

      h3 + button {
        margin-left: auto;
      }
    }

    .frost-bunsen-left-input {
      width: 100%;
    }

    .frost-bunsen-left-label {
      display: none;
    }

    .frost-bunsen-input-checkbox-array {
      .frost-checkbox {
        padding-top: 10px;
      }
    }
  }

  .frost-password,
  .frost-text,
  .frost-select {
    min-width: 100px;
  }
}
