{{#if label}}
  <div>
    <h2>{{renderLabel}}</h2>
  </div>
{{/if}}
<div>
  {{textarea
    change=(action 'handleChange')
    disabled=disabled
    placeholder=placeholder
    value=renderValue
  }}
</div>
