.dummy-body{
  margin-left: 20px;
}
.demo-container {
  margin: 0 30px;
}

.demo-header {
  margin: 30px 0;
}

.demo-code-container {
  display: flex;
}

.demo-code-block {
  flex-grow: 1;
  padding: 10px;

  pre {
    height: 300px;
  }
}

.double-bunsen {
  .frost-bunsen-form {
    display: inline-block;
  }
  .frost-bunsen-detail {
    display: inline-block;
  }
}

pre.value-code-block {
  width: 300px;
  height: 300px;
  color: white;
  background-color: black;
}
