.demo-container {
  margin: 0 30px;
}

.demo-header {
  margin: 30px 0;
}

.demo-code-container {
  display: flex;
}

.demo-code-block {
  flex-grow: 1;
  padding: 10px;

  pre {
    height: 300px;
  }
}
