<a>
  <span>
    {{title}}
    {{#unless readOnly}}
      {{frost-button
        disabled=disabled
        hook=(concat hookPrefix '-removeBtn')
        onClick=(action 'remove')
        priority='tertiary'
        size='medium'
        text='Remove'
      }}
    {{/unless}}
  </span>
</a>
