<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if showRequiredLabel}}
    <div class='frost-bunsen-required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-select
    class=valueClassName
    data=data
    disabled=(readonly disabled)
    hook=hook
    onChange=(action 'handleChange')
    placeholder=placeholder
    selectedValue=useKey
  }}
</div>
