<label class={{labelWrapperClassName}}>
  {{renderLabel}}
  {{#if required}}
    <div class='required'>Required</div>
  {{/if}}
</label>
<div class={{inputWrapperClassName}}>
  {{frost-select
    class=valueClassName
    data=data
    disabled=(readonly disabled)
    onChange=(action "onChange")
    placeholder=cellConfig.placeholder
    selectedValue=useKey
  }}
</div>
