<h1 id="title">frost-bunsen</h1>

<ul>
  <li>{{#link-to "demo.form"}}Form{{/link-to}}</li>
  <li>{{#link-to "demo.detail"}}Detail{{/link-to}}</li>
  <li>{{#link-to "demo.detail-update"}}Updatable Detail{{/link-to}}</li>
</ul>

<div class="demo-container">
  {{outlet}}
</div>
