<div class='demo-container fullscreen'>
  <div class="demo-banner">
    <h1>Types</h1>
    <p>This is a list of the different data types a property can be</p>
  </div>
  {{#each model.types key='name' as |type index|}}
    {{#if (not-eq index 0)}}
      <hr/>
    {{/if}}
    <h2>{{type.name}}</h2>
    {{markdown-to-html markdown=type.description ghCodeBlocks=true}}
    <h3>Example</h3>
    {{ivy-codemirror
      options=(hash
        lineNumbers=true
        mode="javascript"
        readOnly=true
        theme="mdn-like"
      )
      value=(to-json type.example)
    }}
  {{/each}}
  <br/> {{!-- this creates a little bit of padding below the last code block --}}
</div>
